*{
  padding:0;
  margin:0;
  border:0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  object-fit:fill;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img{
  height: 100%;
  object-fit: cover;
}

.hero{
  background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.785) 80%, rgba(255, 255, 255, 0.26) ), url("../images/hero-bg.jpg");
  background-size:auto;
  height: 700px;
}
.header{
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid white;
}
.header p{
  display: none;
  color:white;
  font-weight: 400;
}

.header .dd1{
  display:none;
}
.fa-bars{
  font-size: 30px;
  color: white;
}
.fa-location-dot,.fa-phone,.fa-envelope,.fa-facebook-f,.fa-twitter,.fa-instagram,.fa-linkedin-in{
  font-size: 15px;
  margin:7px;
  color: white;
}
.navigation{
  display: flex;
 justify-content: space-between;
 width:90%;
 margin-left: 10px;
 margin-right: 10px;
}
.a1{
  display: flex;
  color: white;
}

.dd{
  clip-path: circle(50% at 50% 50%);
  background-color:rgb(15,120,147);
  height:30px;
  width:30px;
  text-align: center;
  margin: 20px 10px 10px 10px;
  padding: 4px;
 }
.nav{
  display:flex;
  justify-content: space-between;
  margin:15px;
}
.nav ul{
  display: none;
}
.nav h2{
  font-size:30px;
  color: white;
}
.cta h1{
  font-size:40px;
  text-align:center;
  margin-top:60px;
  color:white;
}
.cta p{
  text-align: center;
  margin-top: 10px;
  color: white;
  line-height: 25px;
}
.cta-button{
  text-align: center;
  margin-top: 10px;
}
.cta-button button{
  text-align: center;
  color: white;
  background-color:rgb(44,120,115);
  padding: 13px;
  width: 50%;
}
.arrows{
  text-align: center;
  margin-top:60px;
}
.arrows a{
  color: black;
  background-color: white;
  padding: 20px;
}

.services h2{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.services p{
  text-align: center;
  margin:10px 10px 50px 10px;
  line-height: 25px;
}

.home-welding, .machine-welding, .car-welding{
  margin: 20px;
  text-align: center;
  box-shadow:1px 2px 5px 1px #888888;
}

 .car-welding:hover,.home-welding:hover,.machine-welding:hover{
  background-color: #004445;
  color: white;
}

.home-welding img, .machine-welding img, .car-welding img{
  width:60px;
  height: 60px;
  margin: 25px 0 10px 0;
}
.home-welding h3, .machine-welding h3, .car-welding h3{
  font-size:20px;
}
.home-welding p, .machine-welding p, .car-welding p{
  line-height: 25px;
  padding:5px 7px 20px 7px;
}
.services-button{
  text-align: center;
  margin-top: 10px;
}
.services-button button{
  text-align: center;
  color: white;
  background-color:rgb(44,120,115);
  padding: 13px;
  width: 50%;
}

.about-container h2{
  margin: 50px 0 20px 20px;
  font-size: 30px;
}
.about-container p{
  padding-left:10px;
  margin:10px 10px 30px 10px;
  line-height: 25px;
}
.about-button{
  margin:0 0px 40px 20px;
}
.about-button button{
  text-align: center;
  color: white;
  background-color:rgb(44,120,115);
  padding: 13px;
  width: 50%;
}
.img-container{
  width: 50%;
}
.team-img-container{
  width:100%;
}

.our-team h2{
  text-align: center;
  margin: 50px 0 20px 20px;
  font-size: 30px;
}
.our-team p{
  text-align: center;
  padding-left:10px;
  margin:10px 10px 40px 10px;
  line-height: 25px;
}

.team-img{
  padding: 20px;
  position: relative;
  height:400px;
}
.team-img img{
  width:100%;
  border-radius:10px;
}
.team-img span{
  text-align: center;
  color: white;
  background-color:#004445;
  position: absolute;
  bottom:0;
  left: 20px;
  width:87.5%;
  border-bottom-left-radius : 10px;
  border-bottom-right-radius : 10px;
}
.team-img span h3{
  margin-top: 20px;
} 

.get-in-touch{
  margin-top: 60px;
}
.contact-img-container img{
  object-fit:fill;
  height: 600px;
}

.contact-form{
  background-color: #F9F9F9;
}

.contact-form h2{
  text-align:center;
  margin:40px auto;
  font-size: 30px;
}

.contact-form input, .contact-form textarea{
  width: 80%;
  padding: 15px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.contact-form select{
  width: 89%;
  padding: 15px;
  background-color: white;
  margin-left: 20px;
}
.contact-button{
  text-align: center;
}
.contact-button button{
  text-align: center;
  color: white;
  background-color:rgb(44,120,115);
  padding: 13px;
  width: 90%;
}

.testimonial{
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.testimonial h2{
  text-align: center;
  margin:20px auto;
  font-size: 30px;
}

.testimonial img{
  margin:20px auto;
  width:120px;
  height:120px;
  border-radius: 10px;
}
.testimonial h3{
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 25px;
}

.testimonial p{
  font-size: 19px;
  margin:20px auto;
  line-height: 25px;
}

.arrows1{
  text-align: center;
  margin:60px auto;
}
.arrows1 a{
  color: white;
  background-color:black;
  padding: 20px;
}

.foot{
  background-color:#004445;
  color: white;
  padding-bottom: 20px;
}

.foot h3{
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.d1 p , .d3 p{
  text-align: center;
  padding-left:10px;
  margin:0px 20px 40px 20px;
  line-height: 25px;
}
.d2 input{
  padding:10px;
  width: 80%;
  text-align: center;
}
.d2, .d4{
  text-align: center;
}
.d2 button{
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color:rgb(44,120,115);
  padding: 13px;
  width: 50%;
}
.d4 a{
  color: white;

}
.d4 li{
  margin: 10px;
}
.footer p{
  margin:20px 0 60px 0;
  text-align: center;
}
.footer img{
  object-fit:none;
}

.cta-button button:hover, .services-button button:hover, .about-button button:hover,.contact-button button:hover{
  border:1px solid #004445;
  background-color: transparent;
  color:#004445;
  transition: 0.5s;
}

/*tablet----------------------------------------------------------------------------------------------------------------*/

@media(min-width:768px){
.hero{
  height:570px;
}

  .header p{
  display:inline;
}

.header .dd1{
  display:block;
}

.header {
display: flex;
padding-top: 15px;
} 
.navigation{
  width:75%;
}
.fa-location-dot,.fa-phone,.fa-envelope,.fa-facebook-f,.fa-twitter,.fa-instagram,.fa-linkedin-in{
  font-size:15px;
  margin:0;
}
.dd{
 clip-path: circle(50% at 50% 50%);
 background-color:rgb(15,120,147);
 height: 28px;
 width:28px;
 text-align: center;
 margin: 0px 2px 0px 2px;
 padding: 4px;
}
.header span{
  clip-path: circle(50% at 50% 50%);
  background-color:rgb(15,120,147);
  height: 28px;
  width:28px;
  text-align: center;
  margin: 0px 2px 0px 2px;
  padding: 5px;
}

.cta h1{
  text-align: center;
}

.cta p{
  text-align:center;
  padding: 0 60px;
}

.cta-button{
  text-align: center;
  margin-top: 10px;
}
.cta-button button{
  width: 23%;
}

.services-flex{
  display: flex;
  justify-content:center;  
}
.home-welding, .car-welding, .machine-welding{
  width:30%;
}
.services-button button{
  width:25%;
  margin-top: 20px;
}
.about{
  display: flex;
  margin-top: 70px;
}
.about-container{
  width:50%;
  padding: 30px;
}
.about-container h2{
  font-weight: 800;
}
.img-container{
  width: 50%;
}
.our-team h2{
  font-weight: 800;
}
.our-team p{
  width:70%;
  margin: 20px auto;
  
}

.team-img-content{
  display: flex;
  justify-content:space-evenly;
}
.team-img span{
  width:84.5%;
}

.get-in-touch{
  display: flex;
}
.contact-img-container{
  width:50%;
}
.contact-img-container img{
  width:190%;
  height:100%;
  object-fit: cover;
}
.contact-form{
 width: 50%;
}
.contact-form-text{
  padding:0 90px;
}
.contact-form-text h2{
  padding-top: 50px;
  font-weight:800;
}
.contact-form select{
   width:96%;
}
.contact-button button{
  margin-left:25px;
}

.testimonial{
  width:60%;
  margin: 30px auto;
}
.arrows1{
  display: none;
}
.flex-1{
  display: flex;
}
.flex-2{
  display: flex;
}
 .d1 p , .d3 p{
  text-align:left;
}
.d2 form , .d4 ul{
  text-align:left;
  margin-left: 20px;
}
.d3 h3, .d1 h3, .d2 h3, .d4 h3{
  text-align: left;
  margin-left: 7px;
}
.d1,.d3{
  width:50%;
}
}
/*--------------------------------------------------------------------------------------------------*/
@media(min-width:992px){
  .nav{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
  }
.nav a{
  color: white;
}
.hero{
  background-size: 100%;
}
.navigation p{
  margin-top:6px;
  margin-bottom:20px;
}
.dd1{
  margin-top:6px;
  margin-left:5px;
}

 .nav ul{
  display: flex;
  column-gap: 20px;
  margin-left: 300px;
 }
.fa-bars{
  display: none;
}
.cta p{
  width:70%;
  margin:20px auto;
}
.cta-button button{
  width:17%;
}
.services p{
  width:60%;
  margin:20px auto;
}
.services-button button{
  width: 16%;
}
.about{
  padding:30px 40px;
}
.about-container h2{
  margin-top: 100px;
}

.contact-img-container{
  width:50%;
}
.contact-img-container img{
  width:130%;
}

.phone-services-flex{
  display: flex;
}
.contact-form select{
  width:76%;
}
.flex-main{
  display: flex;
}
.team-img span{
  left: 20px;
  width:88%;
}
.contact-button button{
  margin-right: 20px;
  width:88%
}
.d2 input{
  width:70%;
}
}


@media(min-width:1500px){

  .nav{
  width: 100%;
  }
  .nav .items ul{
   padding-left:700px;
  }
  .services-flex{
    width:70%;
    margin: 0 auto;
  }
  .our-team{
    margin:20px auto;
    width: 100%;
  }
  .team-img-container{
  width:70%;
  margin: 0 auto;
}
.team-img span{
  left: 20px;
  width:88.5%;
}
 .contact-form-text{
   margin-top:120px;
 }

 .contact-form-text input{
  width:80%;
}
.contact-form select{
  width:128%;
}
.contact-button button{
  margin-right: 110px;
  width:84%
}
.contact-img-container img{
  width:100%;
}
  .testimonial{
  width:40%;
  margin: 25px auto;
}
  .foot-width{
  width:70%;
  margin: 0 auto;
}
}
@media(min-width:1900px){
  .team-img span{
    width:89%;
  }
  .contact-form select{
    width:217%;
  }
}